<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link href="dist/ez-checkbox.css" rel="stylesheet"/>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>

	<script src="src/ez-checkbox.js"></script>
	<script>
    "use strict";

    angular.module("myApp", ["ez.checkbox"]).controller("MyCtrl", function($scope) {

      $scope.form = {
        example1: true,
        example2: false,
        example3: true
      };

      $scope.$watch('form', function(n, o) {
        if (n === o) {
          return;
        }

        console.log('form changed', n);
      }, true);
    });
  </script>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">

<table class="table">
	<tr>
    <th style="width:200px;">Example</th>
		<th style="width:200px;">Checkbox</th>
		<th style="width:100px;">Value</th>
		<th style="width:150px;">External Control</th>
		<th style="width:300px;">Code</th>
	</tr>

	<tr>
		<td>
			Minimal example
		</td>
		<td>
			<ez-checkbox ng-model="form.example1">
        Checkbox Label
      </ez-checkbox>
		</td>
		<td>
			<span ng-bind="form.example1"></span>
		</td>
		<td>
			<button ng-click="form.example1 = true">
				Set to true
			</button><br>
			<button  ng-click="form.example1 = false">
				Set to false
			</button>
		</td>
		<td>

<pre>&lt;ez-checkbox
	ng-model="form.example1"
&gt;&lt;/ez-checkbox&gt</pre>

		</td>
	</tr>

	<tr>
		<td>
			Example with inverted truth and custom name attribute
		</td>
		<td>
			<ez-checkbox invert="true" ng-model="form.example2" name="example2"></ez-checkbox>
		</td>
		<td>
			<span id="checkboxModel1" ng-bind="form.example2"></span>
		</td>
		<td>
			<button ng-click="form.example2 = true">
				Set to true
			</button><br>
			<button ng-click="form.example2 = false">
				Set to false
			</button>
		</td>
		<td>

<pre>&lt;ez-checkbox
	ng-model="form.example2" invert="true"
	<b>name="example2"</b>
&gt;&lt;/ez-checkbox&gt</pre>

		</td>
	</tr>

	<tr>
		<td>
			Example with custom true value
		</td>
		<td>
			<ez-checkbox ng-model="form.example3" true-value="The Real True"></ez-checkbox>
		</td>
		<td>
			<span ng-bind="form.example3"></span>
		</td>
		<td>
			<button ng-click="form.example3 = true">
				Set to true
			</button><br>
			<button ng-click="form.example3 = false">
				Set to false
			</button><br>
			<button ng-click="form.example3 = 'The Real True'">
				Set to "The Real True"
			</button>
		</td>
		<td>

<pre>&lt;ez-checkbox
	ng-model="form.example3"
	<b>true-value="The Real True"</b>
&gt;&lt;/ez-checkbox&gt</pre>

		</td>
	</tr>

</table>

</body>
</html>
